<a href="https://colab.research.google.com/github/Sabari2002/Machine-Learning----Beginner/blob/main/Intro_to_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount("/content/gdrive")
data = pd.read_csv("/content/gdrive/My Drive/Sample data/melbourne_data.csv", index_col=0)
df = pd.DataFrame(data)

Mounted at /content/gdrive

In [3]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [4]:
df.columns

Index(['Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Date',
       'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize',
       'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude',
       'Regionname', 'Propertycount'],
      dtype='object')

Selecting the prediction target and saving as "y".

In [5]:
y = df.Price

**Choosing Features**

In our case,those would be the columns used to determine the home price.

In [6]:
df_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [7]:
X = df[df_features]

In [8]:
X.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [9]:
X.head()

            Rooms  Bathroom  Landsize  Lattitude  Longtitude
Suburb
Abbotsford      2       1.0     202.0   -37.7996    144.9984
Abbotsford      2       1.0     156.0   -37.8079    144.9934
Abbotsford      3       2.0     134.0   -37.8093    144.9944
Abbotsford      3       2.0      94.0   -37.7969    144.9969
Abbotsford      4       1.0     120.0   -37.8072    144.9941

**Building our model**

In [10]:
from sklearn.tree import DecisionTreeRegressor

df_model = DecisionTreeRegressor(random_state=1)
df_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [11]:
print("Making Prediction for the following 5 houses:")
print(X.head())
print("The predictions are")
print(df_model.predict(X.head()))

Making Prediction for the following 5 houses:
            Rooms  Bathroom  Landsize  Lattitude  Longtitude
Suburb
Abbotsford      2       1.0     202.0   -37.7996    144.9984
Abbotsford      2       1.0     156.0   -37.8079    144.9934
Abbotsford      3       2.0     134.0   -37.8093    144.9944
Abbotsford      3       2.0      94.0   -37.7969    144.9969
Abbotsford      4       1.0     120.0   -37.8072    144.9941
The predictions are
[1480000. 1035000. 1465000.  850000. 1600000.]

**MODEL VALIDATION**

In [12]:
from sklearn.metrics import mean_absolute_error
predicted_home_prices = df_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

1125.1804614629357

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
X_train, X_val, y_train, y_val = train_test_split(X, y, random_state = 0)
df_model = DecisionTreeRegressor()
df_model.fit(X_train, y_train)

# val prediction
val_prediction = df_model.predict(X_val)
print(mean_absolute_error(y_val, val_prediction))

249298.24182621503

In [14]:
def get_mae(max_leaf_nodes, X_train, y_train, X_val, y_val):
  model = DecisionTreeRegressor(max_leaf_nodes = max_leaf_nodes, random_state=0)
  model.fit(X_train, y_train)
  prediction_val = model.predict(X_val)
  mae = mean_absolute_error(y_val, prediction_val)
  return(mae)

Compare MAE with differing values of max_leaf_nodes

In [15]:
for max_leaf_nodes in [5,50,500,5000]:
  my_mae = get_mae(max_leaf_nodes, X_train, y_train, X_val, y_val)
  print("Max leaf nodes : %d \t\t Mean Absolute Error : %d"%(max_leaf_nodes, my_mae))

Max leaf nodes : 5 		 Mean Absolute Error : 354662
Max leaf nodes : 50 		 Mean Absolute Error : 266447
Max leaf nodes : 500 		 Mean Absolute Error : 231301
Max leaf nodes : 5000 		 Mean Absolute Error : 249163

In [17]:
from sklearn.ensemble import RandomForestRegressor

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(X_train, y_train)
melb_predictions = forest_model.predict(X_val)
print(mean_absolute_error(y_val, melb_predictions))

180860.37877504269